<h4>All posts here</h4>

{{#each posts}}
<h1>
    <a href="/post/{{id}}">{{title}}</a>
    <button class = "updateButton" data-postId="{{id}}"> Update </button> <button class = "deleteButton" data-postId="{{id}}"> Delete </button>
</h1>
<p>{{createdAt}}</p>
{{/each}}
<form id="new-post">
    <input type="text" id="title" placeholder="title">
    <input type="text" id="body" placeholder="body">
    <input type="submit" value="Post">
</form>

<script src="js/new-post.js"></script>